<section class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            서비스현황
            <small>개요</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">서비스현황</li>
        </ol>
    </section>

    <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">CPU Traffic</span>
                        <span class="info-box-number">90<small>%</small></span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">회원현황</span>
                        <span class="info-box-number">41,410</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">거래현황</span>
                        <span class="info-box-number">760</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">월신규회원</span>
                        <span class="info-box-number">2,000</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">월별거래현황</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-wrench"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-8">
                                <p class="text-center">
                                    <strong>거래현황 1-6월</strong>
                                </p>

                                <div class="chart">
                                    <!-- Sales Chart Canvas -->
                                    <canvas id="salesChart" style="height: 180px;"></canvas>
                                </div>
                                <!-- /.chart-responsive -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4">
                                <p class="text-center">
                                    <strong>거래목표</strong>
                                </p>

                                <div class="progress-group">
                                    <span class="progress-text">거래제품현황</span>
                                    <span class="progress-number"><b>160</b>/200</span>

                                    <div class="progress sm">
                                        <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
                                    </div>
                                </div>
                                <!-- /.progress-group -->
                                <div class="progress-group">
                                    <span class="progress-text">주문완료</span>
                                    <span class="progress-number"><b>310</b>/400</span>

                                    <div class="progress sm">
                                        <div class="progress-bar progress-bar-red" style="width: 80%"></div>
                                    </div>
                                </div>
                                <!-- /.progress-group -->
                                <div class="progress-group">
                                    <span class="progress-text">프리미엄회원</span>
                                    <span class="progress-number"><b>480</b>/800</span>

                                    <div class="progress sm">
                                        <div class="progress-bar progress-bar-green" style="width: 50%"></div>
                                    </div>
                                </div>
                                <!-- /.progress-group -->
                                <div class="progress-group">
                                    <span class="progress-text">환불요청</span>
                                    <span class="progress-number"><b>250</b>/500</span>

                                    <div class="progress sm">
                                        <div class="progress-bar progress-bar-yellow" style="width: 50%"></div>
                                    </div>
                                </div>
                                <!-- /.progress-group -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- ./box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-3 col-xs-6">
                                <div class="description-block border-right">
                                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
                                    <h5 class="description-header">35,210.43</h5>
                                    <span class="description-text">총매출</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-3 col-xs-6">
                                <div class="description-block border-right">
                                    <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>
                                    <h5 class="description-header">10,390.90</h5>
                                    <span class="description-text">총매입</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-3 col-xs-6">
                                <div class="description-block border-right">
                                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>
                                    <h5 class="description-header">24,813.53</h5>
                                    <span class="description-text">이익</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-3 col-xs-6">
                                <div class="description-block">
                                    <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>
                                    <h5 class="description-header">1200</h5>
                                    <span class="description-text">목표치</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">

                        <div class="col-md-6">
                            <!-- USERS LIST -->

                            <div class="box box-danger">
                                <div class="box-header with-border">
                                    <h3 class="box-title">최근 회원</h3>

                                    <div class="box-tools pull-right">
                                        <span class="label label-danger">8 New Members</span>
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-box-tool" data-widget="remove">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body no-padding">
                                    <ul class="users-list clearfix">
                                        <li>
                                            <img src="/image/user/_default_profile.png" alt="User Image">
                                            <a class="users-list-name" href="#">김진웅</a>
                                            <span class="users-list-date">오늘</span>
                                        </li>
                                        <li>
                                            <img src="/image/user/_default_profile.png" alt="User Image">
                                            <a class="users-list-name" href="#">홍길동</a>
                                            <span class="users-list-date">어제</span>
                                        </li>
                                        <li>
                                            <img src="/image/user/_default_profile.png" alt="User Image">
                                            <a class="users-list-name" href="#">아브라함</a>
                                            <span class="users-list-date">6.12</span>
                                        </li>
                                        <li>
                                            <img src="/image/user/_default_profile.png" alt="User Image">
                                            <a class="users-list-name" href="#">이삭</a>
                                            <span class="users-list-date">6.12</span>
                                        </li>
                                        <li>
                                            <img src="/image/user/_default_profile.png" alt="User Image">
                                            <a class="users-list-name" href="#">이스라엘</a>
                                            <span class="users-list-date">6.13</span>
                                        </li>
                                        <li>
                                            <img src="/image/user/_default_profile.png" alt="User Image">
                                            <a class="users-list-name" href="#">야곱</a>
                                            <span class="users-list-date">6.14</span>
                                        </li>
                                        <li>
                                            <img src="/image/user/_default_profile.png" alt="User Image">
                                            <a class="users-list-name" href="#">삼손</a>
                                            <span class="users-list-date">6.15</span>
                                        </li>
                                        <li>
                                            <img src="/image/user/_default_profile.png" alt="User Image">
                                            <a class="users-list-name" href="#">요셉</a>
                                            <span class="users-list-date">6.15</span>
                                        </li>
                                    </ul>
                                    <!-- /.users-list -->
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer text-center">
                                    <a href="javascript:void(0)" class="uppercase">모두보기</a>
                                </div>
                                <!-- /.box-footer -->
                            </div>
                            <!--/.box -->
                        </div>
                        <!-- /.col -->
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="box">
                                <div class="box-header with-border">

                                    <div class="col-md-6">
                                        <div class="box box-info">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">최근거래</h3>

                                                <div class="box-tools pull-right">
                                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                        <i class="fa fa-minus"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                                </div>
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                                <div class="table-responsive">
                                                    <table class="table no-margin">
                                                        <thead>
                                                            <tr>
                                                                <th>거래자</th>
                                                                <th>제품</th>
                                                                <th>상태</th>
                                                                <th>만족도</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td><a href="pages/examples/invoice.html">OR9842</a></td>
                                                                <td>냉장고</td>
                                                                <td><span class="label label-success">선적</span></td>
                                                                <td>
                                                                    <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><a href="pages/examples/invoice.html">OR1848</a></td>
                                                                <td>삼성 TV</td>
                                                                <td><span class="label label-warning">포장</span></td>
                                                                <td>
                                                                    <div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><a href="pages/examples/invoice.html">OR7429</a></td>
                                                                <td>iPhone</td>
                                                                <td><span class="label label-danger">배송</span></td>
                                                                <td>
                                                                    <div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><a href="pages/examples/invoice.html">OR7429</a></td>
                                                                <td>세탁기</td>
                                                                <td><span class="label label-info">주문전</span></td>
                                                                <td>
                                                                    <div class="sparkbar" data-color="#00c0ef" data-height="20">90,80,-90,70,-61,83,63</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><a href="pages/examples/invoice.html">OR1848</a></td>
                                                                <td>가습기</td>
                                                                <td><span class="label label-warning">포장</span></td>
                                                                <td>
                                                                    <div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><a href="pages/examples/invoice.html">OR7429</a></td>
                                                                <td>오디오</td>
                                                                <td><span class="label label-danger">배송중</span></td>
                                                                <td>
                                                                    <div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><a href="pages/examples/invoice.html">OR9842</a></td>
                                                                <td>자동차</td>
                                                                <td><span class="label label-success">선적</span></td>
                                                                <td>
                                                                    <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- /.table-responsive -->
                                            </div>
                                            <!-- /.box-body -->

                                            <div class="box-footer clearfix">
                                                <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">신규주문</a>
                                                <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">모두보기</a>
                                            </div>
                                            <!-- /.box-footer -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
