<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957069957355-b9dtis9i6htkaqai6e4cnmf04pjprq6o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957069957355-b9dtis9i6htkaqai6e4cnmf04pjprq6o</string>
	<key>API_KEY</key>
	<string>AIzaSyDJWoFFNrQkZLCh0e_OUQSac302RJfIVsY</string>
	<key>GCM_SENDER_ID</key>
	<string>957069957355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.abara.app</string>
	<key>PROJECT_ID</key>
	<string>abara-6ac3c</string>
	<key>STORAGE_BUCKET</key>
	<string>abara-6ac3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957069957355:ios:bc0b35bd994ca93158c6ae</string>
	<key>DATABASE_URL</key>
	<string>https://abara-6ac3c.firebaseio.com</string>
</dict>
</plist>